name: Deploy tagged versions to PyPI

on:
  push:
    tags:
      - '[0-9]+\.[0-9]+\.[0-9]+'  # matches semantic version tags like 1.2.3

jobs:
  build-and-deploy:
    name: test_and_lint
    runs-on: ubuntu-latest
    environment: main branch
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Build package
        run: uv build

      - name: Publish package
        run: uv publish --token ${{ secrets.PYPI_TOKEN }}
