# Running unit tests and linting over the project
name: Test and lint

# Run on any pushed
on: push

jobs:
  test_and_lint:
    name: test_and_lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14", "3.15"]
        command: ["pytest", "ruff check", "ty check"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Setup .venv
        run: uv sync --python ${{ matrix.python-version }}

      - name: Run ${{ matrix.command }}
        run: uv run --python ${{ matrix.python-version }} ${{ matrix.command }}
